@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row: 1 / 2; /*poderia ser também grid-row: 1 / span 1. O (span) significa o quanto o item será expandido, no caso apenas 1 vez, conta-se neste caso as tracks. */
    grid-column: 1 / span 4;
}

.caixa2 {
    /* 

    Também é possivel usar o (grid-area) que é a simplificação do row e column em um único código, exemplo: grid-area: 1 / 1 / 2 / 5 . O código funciona da seguinte forma, o primeiro número é o grid-row-start seguido por grid-column-start, depois vêm grid-row-end e grid-column-end.
    
    */
    background-color: green;
    grid-area: 2 / 1 / 4 / 3; /* Esse é um exemplo na prática do uso do grid-area. */
}

.caixa3 {
    background-color: blue;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}